{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(seasonFrm) }}
    {{ form_widget(seasonFrm) }}
    <button>Create season</button>
    {{ form_end(seasonFrm) }}
{% endblock %}

{% block title %}
create a season
{% endblock %}

