{% extends 'base.html.twig' %}

{% block title %}
todo afficher le titre de la series | {{ parent }}
{% endblock %}

{% block body %}
    <h2>le titre de la serie</h2>
    etc...
    infos sur la serie
{% endblock %}

